@import "./styles/header.scss";
@import "./styles/NavBar.scss";
@import "./styles/Footer.scss";
@import "./styles/Map.scss";

* {
  background-color: blueviolet;
  margin: 0;
  box-sizing: border-box;
}
